name: CI Pipeline for Hospital Management

on:
  push:
    paths:
      - hospital-management/**

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Required Packages
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Inspect Project Directory
        run: ls -lR
        working-directory: hospital-management

      - name: Display Makefile
        run: cat Makefile
        working-directory: hospital-management

      - name: Execute Git Status
        working-directory: hospital-management
        run: make status

      - name: Update Repositories
        working-directory: hospital-management
        run: make pull

      - name: Save Local Modifications
        working-directory: hospital-management
        run: make stash

      - name: Compile Library Module
        working-directory: hospital-management
        run: make build_lib
        continue-on-error: true
  
      - name: Compile All Services
        working-directory: hospital-management
        run: make build_services

      - name: Create Docker Images
        working-directory: hospital-management
        run: make build_images

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PAT }}

      - name: Upload Docker Images
        working-directory: hospital-management
        run: make push_images
